@using Reservation.Views.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Reservation.Areas.IdentityClient.Models.SignUpVM
@{
    Layout = "_Layout";
    ViewData["Title"] = "SignUp";
}

<h1>NEW ACCOUNT</h1>

<form asp-area="IdentityClient" asp-controller="Client" asp-action="SignUp" method="post">
    <div>
        @Html.ValidationSummary(true)
    </div>

    @Html.InputWithValidationMessageFor(m=>m.Email)
    @Html.PasswordWithValidationMessageFor(m=>m.Password)
    <button class="btn btn-primary" type="submit">Register</button>

</form>
